/* color body */

html, body{
    min-height: 100%;
    background-color: #F6F8F9;
}

/* intestazione */

body{
    margin: 0;
}

header{
    height: 100px;
    line-height: 100px;
    background-color: white;
}

.logo{
    margin-left: 20px;
}

.title{
    display: inline;
    margin: 0;
    font-size: 40px;

}

.logo,
.title{
    vertical-align: middle;
}

/* corpo centrale */

main{
    max-width: 70%;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}

.button-task{
    background-color: #47ADF1;
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: 0;
}

.button-section{
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius: 5px;
    border-color: lightgrey;
}

.first-section{
    height: 50px;
    line-height: 50px;
    margin-left: 40px;
}